---
import '@/styles/global.css';
import Footer from '../molecules/footer';
import { Toaster } from '../ui/sonner';
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>LGamila | A project by the Moroccan Streaming Community</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

	</head>
	<body class="flex h-screen w-screen flex-col items-center justify-center overflow-x-hidden">
    <main class="flex flex-col items-center justify-center flex-grow container">
      <slot /> 
    </main>
	<Footer />
	<Toaster client:only="react" />
	</body>
</html>
